body, html {
    font-size: 10px;
    height: 100%;
    margin: none;
}

.alert {
/*    border: 1px solid red;*/
    background: #f99;
}

#tabs { min-height: 500px; height: 95%; background: #eee;} 
	.tabs-bottom { position: relative; } 
	.tabs-bottom .ui-tabs-panel { /*height: 140px;*/ overflow: auto; } 
	.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0 0; } 
	.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
	.ui-tabs-selected { margin-top: -3px !important; }

.ui-tabs .ui-tabs-panel {
    padding-left: 0px;
    padding-right: 0px;
}

iframe {
    padding-top: 12px;
    height: 85%;
    width: 100%;
    border: none;
    overflow: none;
}

p {
    font-family: Helvetica, sans-serif;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Helvetica, sans-serif;
}

img.header {
    padding-bottom: 1em;
}

ul.menuboxes {
    list-style-type: none;
    padding-left: 0;
    font: 9pt Helvetica, sans-serif;
}

ul.menukboxes li{
    padding-left: 0;
}

ul.checkboxes {
    list-style-type: none;
    padding-left: 0;
    font: 9pt Helvetica, sans-serif;
}

ul.checkboxes li{
    padding-left: 0;
}

label {
/*    float: right;*/
    border:0; 
/*    color:#6cf; */
/*    font-weight:bold;*/
    font: 9pt Helvetica;
}


label.slidervalue {
    float: right;
    border:0; 
    color:#6cf; 
    font-weight:bold;
    font: 9pt Helvetica;
}

div#accordion {
    width:79%;
    position: absolute;
    z-index: 3;
}

div#accordion div.accordionSection {
    background: #eee;
}

div#accordion div.accordionSection ul{
    list-style-type: none;
    padding-left: 1em;
    font: 9pt Helvetica, sans-serif;
}

div#accordion div.accordionSection ul li a{
    text-decoration: none;
    color: #000;
}

div#accordion div.accordionSection ul li a:hover{
    color: #6cf;
}

div#accordion div.accordionSection ul li p{
    padding-left: 1em;
    color: #555;
}

div#accordion p {
    font: 9pt Helvetica, sans-serif;

}

div.accordionSection2 {
    height: 60px;
    background: #eee;
}

div#accordion p b.big{
    font-size: 14pt;
}

div#pcoa{
/*    padding-top: 20px;*/
    overflow: hidden;
    /*width: 97%;*/
    height: 90%;
    background: #eee;
}
div#alpha{
    padding-top: 20px;
    /*width: 97%;*/
    height: 95%;
    background: #eee;
}
div#taxonomy{
    padding-top: 20px;
    /*width: 97%;*/
    height: 95%;
    background: #eee;
}

img.loading {
   position:absolute;
   top:50%;
   left:50%;
}

div.loading {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.header {
    float: left;
}

div.wrapper {
    float: left;
    width: 100%;
/*    height: 100%;*/
/*    display: block;*/
/*    border: 1px solid lime;*/
}

div.left {
    height: 100%;
    width: 20%;
    float: left;
/*    border: 2px solid #eee;*/
/*    text-align: center;*/
}

div.opswrapper {
    margin-left: 5%;
    width: 90%;
/*    border: 1px solid #eee;*/
}

div.right {
    float: right;
/*    text-align: right;*/
    width: 80%;
    height: 100%;
}

div#columns {
    background-color: #eee;
    height: 60px;
    overflow: scroll;
    margin-top: 1em;
    margin-bottom: 1em;
}
div#columns ul{
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font: 7pt Helvetica, sans-serif;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.optimize {
    margin-left: 1em;
}