# should fix duplicated/non-matching names after the migration from svn/SF
Adam Robbins-Pianka <adam.robbinspianka@colorado.edu> Adam Robbins-Pianka <adro2179@compy.colorado.edu>
Antonio Gonzalez <antgonza@gmail.com> Antonio Gonzalez <antoniog@rl1-2-207-73-dhcp.int.colorado.edu>
Antonio Gonzalez <antgonza@gmail.com> antgonza <antgonza@gmail.com>
Catherine Lozupone <lozupone@colorado.edu> Cathy Lozupone <lozupone@colorado.edu>
Dan Knights <danknights@gmail.com> Dan Knights <dknights@umn.edu>
Dan Knights <danknights@gmail.com> danknights <danknights@gmail.com>
Daniel McDonald <mcdonadt@colorado.edu> Daniel McDonald <wasade@gmail.com>
David Soergel <dev@davidsoergel.com> David Soergel <lorax@lorax.org>
Jose Carlos Clemente <jose.clemente@gmail.com> Jose Carlos Clemente Litran <jose.clemente@gmail.com>
Jose Navas <josenavasmolina@gmail.com> jose <jose@jose-K53SJ.(none)>
Justin Kuczynski <justinak@gmail.com> justin <justinak@gmail.com>
Luke Ursell <lkursell@gmail.com> Luke Ursell <lukeursell@rl1-2-208-245-dhcp.int.colorado.edu>
Luke Ursell <lkursell@gmail.com> Luke Ursell <lukeursell@rl1-2-208-95-dhcp.int.colorado.edu>
Tony Walters <william.a.walters@gmail.com> walterst <william.a.walters@gmail.com>
Will Van Treuren <William.Vantreuren@colorado.edu> William Van Treuren <wdwvt1@gmail.com>
Will Van Treuren <William.Vantreuren@colorado.edu> wdwvt1 <wdwvt1@gmail.com>
Will Van Treuren <William.Vantreuren@colorado.edu> Will Van Treuren <william.vantreuren@colorado.edu>
Yoshiki Vázquez Baeza <yoshiki89@gmail.com> Yoshiki <yoshiki89@gmail.com>
